.custom-container-bg {
    background-color: #f1ebeb;

  }

  .customm2-container-bg {
    background-color: #eee8e8;

  }
.card-img-top{

  width: 200px; 
  height: 150px;
  text-align: center;
  display: block;
  margin: 10px auto 0;
}

  