<div class="list-group custom-container-bg">
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      INICIO
    </button>
    <button type="button" class="list-group-item list-group-item-action">AGENDA</button>
    <button type="button" class="list-group-item list-group-item-action">CASOS</button>
    <button type="button" class="list-group-item list-group-item-action">SEGUIMIENTO</button>
    <button type="button" class="list-group-item list-group-item-action" disabled>DESHABILITADO</button>
  </div>
  
  