<br>
<br>
<div class="container-fluid text-center">
    <div class="row">
      <div class="col-2 p-3 custom-container-bg" style="margin-left: 15px;">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-9 p-3 customm2-container-bg"><app-navbarcasos></app-navbarcasos>
    <p></p>
    <div class="card">
        <div class="card-body">
          PRIMERA PARTE CLIENTE
        </div>
      </div>
      <br>
      <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid">
              <option selected>Tipo</option>
              <option value="Persona Natural">Persona Natural</option>
              <option value="Persona Juridica">Persona Juridica</option>
              <option value="Estado">Estado</option>
            </select>
            <label for="floatingSelectGrid">Seleccione:</label>
          </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid">
              <option selected>Cliente</option>
              <option value="Persona Natural">Persona Natural</option>
              <option value="Persona Juridica">Persona Juridica</option>
              <option value="Estado">Estado</option>
            </select>
            <label for="floatingSelectGrid">Seleccione:</label>
          </div>
        </div>


      </div>
      <br>
      <div class="card">
        <div class="card-body">
          SEGUNDA PARTE REPRESENTACION LEGAL
        </div>
      </div>
      <br>
      <div class="row g-2">
        <div class="col-md">
            <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid">
              <option selected>Especialidad</option>
              <option value="Administrativo">Administrativo</option>
              <option value="Civil">Civil</option>
              <option value="Constitucional">Constitucional</option>
              <option value="Penal">Penal</option>
              <option value="Procesal">Procesal</option>
              <option value="Tributario">Tributario</option>
              <option value="Mercantil">Mercantil</option>
              <option value="Laboral">Laboral</option>
              <option value="Internacional">Internacional</option>
              <option value="Ambiental">Ambiental</option>
              <option value="Familiar">Familiar</option>
              <option value="Comercial">Comercial</option>
              <option value="OTRO">OTRO</option>
            </select>
            <label for="floatingSelectGrid">Seleccione:</label>
          </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid">
              <option selected>Abogado</option>
              <option value="Persona Natural">Persona Natural</option>
              <option value="Persona Juridica">Persona Juridica</option>
              <option value="Estado">Estado</option>
            </select>
            <label for="floatingSelectGrid">Seleccione:</label>
          </div>
        </div>
        <br>
        <br>
        <p></p>
        <div class="card">
            <div class="card-body">
              TERCERA PARTE CASO
            </div>
          </div>
          <br>

    <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input type="date" class="form-control" id="floatingInputGrid" placeholder="Nombre" value="">
            <label for="floatingInputGrid">Fecha</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectGrid">
              <option selected>Tipo de caso</option>
              <option value="Administrativo">Administrativo</option>
              <option value="Civil">Civil</option>
              <option value="Constitucional">Constitucional</option>
              <option value="Penal">Penal</option>
              <option value="Procesal">Procesal</option>
              <option value="Tributario">Tributario</option>
              <option value="Mercantil">Mercantil</option>
              <option value="Laboral">Laboral</option>
              <option value="Internacional">Internacional</option>
              <option value="Ambiental">Ambiental</option>
              <option value="Familiar">Familiar</option>
              <option value="Comercial">Comercial</option>
              <option value="OTRO">OTRO</option>
            </select>
            <label for="floatingSelectGrid">Seleccione:</label>
          </div>
        </div>
      </div>
<br>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input type="date" class="form-control" id="floatingInputGrid" placeholder="nfcaso" value="">
            <label for="floatingInputGrid">Fecha del suceso</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGrid" placeholder="ubicacion" value="">
            <label for="floatingInputGrid">Ubicacion</label>
        </div>
      </div>
        
      <br>
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Direccion" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Nombre de las partes involucradas</label>
          </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Direccion" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2">Descripcion del caso</label>
            </div>
            <br>
          </div>
          <br>
          <br>
          <div class="card">
            <div class="card-body">
              CUARTE PARTE EVIDENCIAS
            </div>
          </div>
          <br>
          <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Evidencias (documentos,imagenes,pdf)</label>
                    <input class="form-control" type="file" id="formFileMultiple" multiple>
                  </div>
              </div>
            </div>

        
</div>
        
      </div>
      
    </div>
    <br>
    <br>
</div>
    
      <br>
    <button type="button" class="btn btn-primary btn-lg">REGISTRAR</button>